In [1]:
from zipfile import ZipFile
import pandas as pd


def merger(zipfile, file_type, save_type="csv", path_output="Default", name_output="Default"):
    """
    Merging into one data frame several files that are compressed into one zip file.
    :param zipfile: path to zip file with table datas
    :param file_type: file type of table datas. Accepting csv or excel.
    :param save_type: file type for merged table. Default is csv.
    :param path_output: path for saving merged table. Default save in folder where is zipfile.
    :param name_output: name for saved merged table. Default saving as zipfile name.
    :return file: saved merged table.
    """
    # for opening multiple file types
    ft_read = dict(csv=pd.read_csv, excel=pd.read_excel)
    ft_write = dict(csv="to_csv", excel="to_excel")

    pd_file_type = ft_read[file_type]
    ft_write_type = ft_write[save_type]

    # if path_output is Default, then saving in folder with zipfile
    if path_output == "Default":
        path_output = zipfile.split(sep="/")
        path_output = '/'.join(map(str, path_output[:-1]))

    # if name_output is Default, then saving as name of zipfile
    if name_output == "Default":
        path_file = zipfile.split(sep="/")
        name_output = path_file[-1].split(sep=".")[0]

    # merging into one data frame several files that are compressed into one zip file
    df = pd.concat(
        [pd_file_type(ZipFile(zipfile).open(i)) for i in ZipFile(zipfile).namelist()],
        ignore_index=True
    )
    getattr(df, ft_write_type)(path_output + "/" + name_output + "." + save_type)


# Default command for merging tables from zip file
merger("C:/Users/Viktor/BI_Stat_2022/olimpic_games/data/athlete_events.zip", "csv")

In [3]:
df = pd.read_csv("C:/Users/Viktor/BI_Stat_2022/olimpic_games/data/athlete_events.csv")
df.shape

,Unnamed: 0,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992.0,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012.0,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920.0,Summer,Antwerpen,Football,Football Men's Football,NaN
3,3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900.0,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988.0,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271110,271110,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976.0,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271111,271111,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014.0,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271112,271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014.0,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271113,271113,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998.0,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271114,271114,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002.0,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN